<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <img class="title-image" src="{{ site.url }}/uploads/index/philphantastic_masthead.png" alt="Phil Phantastic">
        </h1>
          <h2 class="masthead-subtitle" style="letter-spacing:0.08rem;">
             YouTuber & Live Streamer
          </h2>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

  </body>
</html>
